body{
  margin:0;
  padding: 20px;
}
h1{
   font-size: 50px;
    color: rgb(27, 27, 202);
    text-shadow: rgba(79, 234, 255, 0.839)8px 0 10px;
    text-align: center;
}

  div.zentai {
    display: flex;          /* フレックスボックスにする */
    flex-direction: column;    /* 横向きに表示（column に変更すると縦向きに表示） */

    width: 600px;
    border: 5px solid black;
}

div.long {
    flex: 2;                /* 横幅2で表示 */

    background: linear-gradient(100deg,rgb(244, 81, 105),#ffef);
    margin-left: 0px;
}

div.short {
    flex:3;                /* 横幅1で表示 */

    background: linear-gradient(90deg,lightskyblue, #ffef);
    margin-left: 0px;
}
label{
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
select{
  font-size: 20px;
}

button {
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 20px;
}
label{
  text-align: center;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}
h3{
  margin-top: 50px;
  margin-left: 100px;
}
div{
  margin-top: 10px;
  font-size: 25px;
}