h1{
    color: blue;
    text-shadow: rgba(223, 58, 223, 0.839)1px 0 10px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(16, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
  }

  th, td {
    border: 1px solid rgb(190,190,190); 
    padding: 20px;

  }

  td{
    text-align: center;
  }

  tr:nth-child(even){
    background-color: #eee;
  }

  th[scope='col']{
    background-color: #696969;
    color: #fff;
  }

  th[scope='row']{
    background-color: #d7d9f2;
  }
  div.zentai {
    display: flex;          /* フレックスボックスにする */
    flex-direction: column;    /* 横向きに表示（column に変更すると縦向きに表示） */

    width: 500px;
    border: 3px solid gray;
    padding: 5px 5px 5px 0;
}

div.long {
    flex: 2;                /* 横幅2で表示 */

    background-color: aqua;
    margin-left: 0px;
}

div.short {
    flex:3;                /* 横幅1で表示 */

    background-color: rgb(61, 154, 241);
    margin-left: 0px;
}